*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

nav,
section,
footer,
button,
a,
h1,h2,h3,h4,h5,h6,
p,
span,
div{

    transition:
        background-color .45s ease,
        color .45s ease,
        border-color .45s ease,
        fill .45s ease,
        stroke .45s ease,
        box-shadow .45s ease;

}

.hero {
  position: relative;
  width: 100%;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  color: #ffffff;
  text-align: center;
  font-family: Arial, sans-serif; 
}

.hero-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  z-index: 2;
}

.hero-content {
  position: relative;
  display: flex;
  z-index: 3;
  max-width: 800px;
  padding: 20px;
  margin-top: 230px;
  
 
}


.btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #007BFF; 
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3; 
}

html{
    scroll-behavior:smooth;
}

body{
    margin: 0;
    
    background:#f5f5f5;
    font-family:Arial, Helvetica, sans-serif;
     transition:
        background-color .45s ease,
        color .45s ease;
}

.cards{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:30px;          /* Espaço entre os cards */
    flex-wrap:wrap;    /* Quebra linha no celular */
    padding:50px ;


}

.card-planos{

     width:320px;
    height:320px;              /* mostra somente o topo */
    background:linear-gradient(135deg, #fccb08, #dd9701, #e08700);
    border-radius:20px;
    overflow:hidden;
    transition:all .5s ease;
    cursor:pointer;
    margin-top:20px;
    padding:50px;
    margin-bottom:20px;
    box-shadow:0 10px 20px rgba(0,0,0,.15);
    border:1px solid black;

}

.card-planos:hover{
    height:600px;              /* aumenta para baixo */
    transform:translateY(-8px);
    box-shadow:0 20px 40px rgba(255,193,7,.25);
}

.card-planos.active{

    transform:translateY(-12px);

    box-shadow:
    0 30px 70px rgba(0,0,0,.18);

}

/*========================*/

.topo{

    height:220px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}

.topo p{

    font-size:13px;

    letter-spacing:2px;

}

.topo h2{

    font-size:72px;

    line-height:70px;

}

.topo .mega{

    display:block;

    font-size:30px;

    font-weight:bold;

}

.topo small{

    display:block;

    margin-top:10px;

}

.info-card{

    text-align:center;

    margin-top:20px;


}

/*========================*/

.infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    opacity:0;
    transform:translateY(30px);
    transition:all .4s ease;
    
}

.card-planos:hover .infos{
    opacity:1;
    transform:translateY(0);
}

/*========================*/

.hidden{

    height:0;

    overflow:hidden;

    transition:
    height .45s cubic-bezier(.22,1,.36,1);

    background-color:#fbb913;

}

/*========================*/

.height{

    opacity:0;

    transform:translateY(-15px);

    transition:
    opacity .35s,
    transform .35s;

}

.card-planos.active .height{

    opacity:1;

    transform:translateY(0);

}

.height h4{

    margin-bottom:20px;

}

.height p{

    margin:12px 0;

    color:#555;

}

/*========================*/

.preco{

    text-align:center;

    transition:.35s;

    padding:20px;

}

.preco h3{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    line-height: 1;
}

.preco h3 span{
    font-size: 24px;
}

.preco small{
    color: #bfbfbf;
    font-size: 15px;
    margin-bottom: 8px;
}

.card-planos.active .preco{

    margin-top:20px;
    text-align:center;

}

/*========================*/

.desc{

    text-align:center;

    margin-top:10px;

    color:#666;

}

/*========================*/

.botao{
    width:200px;
    
    transform:translateY(35px);
    transition:
    opacity .35s,
    transform .35s;
    

}

.card-planos.active .botao{

    opacity:1;

    transform:translateY(0);

}

.botao a{

    display:block;
    width:100%;
    padding:15px;
    background:#FFC107;
    color:#000;
    text-align:center;
    border-radius:12px;
    text-decoration:none;
    font-weight:700;


}

.botao a:hover{

    background:#ffc400;

}

#navbar{
    transition: transform .35s ease;
}

#navbar.hide{
    transform: translateY(-100%);
}

.navbar-glow {
    position: fixed;
    overflow: hidden;
    background: rgba(255,255,255,.08);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    border: 1px solid rgba(255,255,255,.03);
}

/* Faixa de brilho */
.navbar-glow::before{
    content:"";
    position:absolute;
    top:-2px;
    left:-150%;
    width:120px;
    height:calc(100% + 4px);

    background: linear-gradient(
        90deg,
        transparent,
        rgba(251,185,19,.1),
        rgba(255,255,255,.20),
        rgba(251,185,19,.1),
        transparent
    );

    filter: blur(8px);
    transform: skewX(-25deg);

    animation: navGlow 5s linear infinite;
}

@keyframes navGlow{
    from{
        left:-150%;
    }
    to{
        left:130%;
    }
}

#logo{
    height: 50px;
    margin-right: 250px;
}

.lang-btn{

    padding:8px 14px;

    border-radius:999px;

    border:1px solid #d1d5db;

    background:transparent;

    cursor:pointer;

    font-size:.9rem;

    font-weight:600;

    transition:.3s;

}

.dark .lang-btn{

    border-color:#444;

    color:#fff;

}

.lang-btn:hover{

    background:#f5f5f5;

}

.dark .lang-btn:hover{

    background:#2b2b2b;

}

.lang-btn.active{

    background:#facc15;

    border-color:#facc15;

    color:#111;

}

.social-float {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 9999;
}

.social-float a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
    transition: .3s;
}

.social-float a:hover {
    transform: scale(1.1);
}

.glass-card{
    background: rgba(255,255,255,.04);
    border:1px solid rgba(255,255,255,.08);
    backdrop-filter: blur(12px);
    transition: all .35s ease;
}

.dark .glass-card{
    background:#1b1b1b;
}

.glass-card:hover{
    transform: translateY(-4px);
    border-color:#fbb913;
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

.glass-card summary{
    transition:.3s;
}

.glass-card:hover summary{
    color:#fbb913;
}

.glass-card summary::-webkit-details-marker{
    display:none;
}

/* Animação */
.faq-content{
    display:grid;
    grid-template-rows:0fr;
    transition:grid-template-rows 1s ease-in-out;
}

.faq-content p{
    overflow:hidden;
}

details[open] .faq-content{
    grid-template-rows:1fr;
}

details[open]{
    border-color:#fbb913;
}

.fab-container{
    position:fixed;
    right:25px;
    bottom:25px;
    z-index:9999;
}

#fab-toggle{
    display:none;
}

.fab-options{
    position:absolute;
    bottom:80px;
    right:0;

    display:flex;
    flex-direction:column;
    gap:12px;

    opacity:0;
    pointer-events:none;

    transform:translateY(20px);
    transition:.35s;
}

#fab-toggle:checked ~ .fab-options{
    opacity:1;
    pointer-events:auto;
    transform:translateY(0);
}

.fab-option{
    width:55px;
    height:55px;

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    color:#fff;
    text-decoration:none;
    font-size:28px;

    box-shadow:0 10px 25px rgba(0,0,0,.25);

    transition:.3s;
}

.fab-option:hover{
    transform:scale(1.1);
}

.whatsapp{
    background:#25D366;
}

.instagram{
    background:linear-gradient(45deg,#833AB4,#FD1D1D,#FCAF45);
}

.chatbot{
    background:#fbb913;
    color:#131313;
}

.fab-main{

    width:65px;
    height:65px;

    border-radius:50%;

    background:#fbb913;
    color:#131313;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    box-shadow:0 15px 35px rgba(0,0,0,.3);

    transition:.3s;

    position:relative;
}

.fab-main:hover{
    transform:scale(1.08);
}

.fab-main span{
    position:absolute;
    transition:.3s;
}

.close{
    opacity:0;
    transform:rotate(-90deg);
}

#fab-toggle:checked + .fab-options + .fab-main .open{
    opacity:0;
    transform:rotate(90deg);
}

#fab-toggle:checked + .fab-options + .fab-main .close{
    opacity:1;
    transform:rotate(0);
}

.navbar{
    display:grid;
    grid-template-columns: auto 1fr auto;
    align-items:center;
    padding:0 32px;
}

/* Logo */
.logo{
    justify-self:start;
    margin-left: 200px;
}

/* Menu */
.nav-links{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-right: 280px;
}

/* Botões */
.nav-actions{
    display:flex;
    align-items:center;
    gap:18px;
    justify-self:end;
}

/* ===========================
   MENU HAMBÚRGUER
=========================== */

.hamburger{
    display:none;
    flex-direction:column;
    gap:6px;
    background:none;
    border:none;
    cursor:pointer;
    margin-right:20px;

}

.hamburger span{
    width:28px;
    height:3px;
    background:#fff;
    border-radius:5px;
    transition:.3s;
}

/* ===========================
   MENU LATERAL
=========================== */

.menu-header{
    display:none;
    justify-content:space-between;
    align-items:center;
    margin-bottom:40px;

}

.close-menu{
    background:none;
    border:none;
    color:#fff;
    font-size:30px;
    cursor:pointer;
}

.close-icon {
    display: none;
}

@media (max-width:768px){
    .close-icon {
        display:block;
    }

    #logo{
    height: 30px;
}
}

@media (max-width:768px){

    .hamburger{
        display:flex;
        
    
    }

     .hamburger.active {
        display: flex;
    }

    .menu-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:40px;

}

    .nav-links{

        position:fixed;

        top:0;
        right:-150%;
    
        width:300px;
        max-width:85%;

        height:100vh;

        background:#111;

        display:flex;
        flex-direction:column;
        align-items:flex-start;

        padding:30px;

        transition:right .35s ease;

        z-index:1000;

        box-shadow:-10px 0 30px rgba(0,0,0,.4);

    }

    .nav-links.active{
        right:0;
    }

    .nav-links a{

        width:100%;
        color:#fff;
        text-decoration:none;
        padding:14px 0;

        border-bottom:1px solid rgba(255,255,255,.08);

        font-size:17px;

    }

    .nav-links a:hover{
        color:#fbb913;
    }
}
