*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

*,
*::before,
*::after{

    transition:
        background-color .45s ease,
        color .45s ease,
        border-color .45s ease,
        fill .45s ease,
        stroke .45s ease,
        box-shadow .45s ease;

}

.hero {
  position: relative;
  width: 100%;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  color: #ffffff;
  text-align: center;
  font-family: Arial, sans-serif; 
}

.hero-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 3;
  max-width: 800px; 
  padding: 20px;
  margin-top: 80px;
 
}


.btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #007BFF; 
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3; 
}

html{
    scroll-behavior:smooth;
}

body{
    margin: 0;
    
    background:#f5f5f5;
    font-family:Arial, Helvetica, sans-serif;
     transition:
        background-color .45s ease,
        color .45s ease;
}

.cards{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:30px;          /* Espaço entre os cards */
    flex-wrap:wrap;    /* Quebra linha no celular */
    padding:50px ;


}

.card-planos{

     width:320px;
    height:320px;              /* mostra somente o topo */
    background:linear-gradient(135deg, #fccb08, #dd9701, #e08700);
    border-radius:20px;
    overflow:hidden;
    transition:all .5s ease;
    cursor:pointer;
    margin-top:20px;
    padding:50px;
    margin-bottom:20px;
    box-shadow:0 10px 20px rgba(0,0,0,.15);
    border:1px solid black;

}

.card-planos:hover{
    height:600px;              /* aumenta para baixo */
    transform:translateY(-8px);
    box-shadow:0 20px 40px rgba(255,193,7,.25);
}

.card-planos.active{

    transform:translateY(-12px);

    box-shadow:
    0 30px 70px rgba(0,0,0,.18);

}

/*========================*/

.topo{

    height:220px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}

.topo p{

    font-size:13px;

    letter-spacing:2px;

}

.topo h2{

    font-size:72px;

    line-height:70px;

}

.topo .mega{

    display:block;

    font-size:30px;

    font-weight:bold;

}

.topo small{

    display:block;

    margin-top:10px;

}

.info-card{

    text-align:center;

    margin-top:20px;


}

/*========================*/

.infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    opacity:0;
    transform:translateY(30px);
    transition:all .4s ease;
    
}

.card-planos:hover .infos{
    opacity:1;
    transform:translateY(0);
}

/*========================*/

.hidden{

    height:0;

    overflow:hidden;

    transition:
    height .45s cubic-bezier(.22,1,.36,1);

    background-color:#fbb913;

}

/*========================*/

.height{

    opacity:0;

    transform:translateY(-15px);

    transition:
    opacity .35s,
    transform .35s;

}

.card-planos.active .height{

    opacity:1;

    transform:translateY(0);

}

.height h4{

    margin-bottom:20px;

}

.height p{

    margin:12px 0;

    color:#555;

}

/*========================*/

.preco{

    text-align:center;

    transition:.35s;

    padding:20px;

}

.preco h3{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    line-height: 1;
}

.preco h3 span{
    font-size: 24px;
}

.preco small{
    color: #bfbfbf;
    font-size: 15px;
    margin-bottom: 8px;
}

.card-planos.active .preco{

    margin-top:20px;
    text-align:center;

}

/*========================*/

.desc{

    text-align:center;

    margin-top:10px;

    color:#666;

}

/*========================*/

.botao{
    width:200px;
    
    transform:translateY(35px);
    transition:
    opacity .35s,
    transform .35s;
    

}

.card-planos.active .botao{

    opacity:1;

    transform:translateY(0);

}

.botao a{

    display:block;
    width:100%;
    padding:15px;
    background:#FFC107;
    color:#000;
    text-align:center;
    border-radius:12px;
    text-decoration:none;
    font-weight:700;


}

.botao a:hover{

    background:#ffc400;

}

nav{
    color: #f5f5f5;
}

#logo{
    height: 50px;
}

.lang-btn{

    padding:8px 14px;

    border-radius:999px;

    border:1px solid #d1d5db;

    background:transparent;

    cursor:pointer;

    font-size:.9rem;

    font-weight:600;

    transition:.3s;

}

.dark .lang-btn{

    border-color:#444;

    color:#fff;

}

.lang-btn:hover{

    background:#f5f5f5;

}

.dark .lang-btn:hover{

    background:#2b2b2b;

}

.lang-btn.active{

    background:#facc15;

    border-color:#facc15;

    color:#111;

}

.social-float {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 9999;
}

.social-float a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
    transition: .3s;
}

.social-float a:hover {
    transform: scale(1.1);
}

.whatsapp {
    background: #25D366;
}

.instagram {
    background: linear-gradient(45deg,
        #405DE6,
        #5851DB,
        #833AB4,
        #C13584,
        #E1306C,
        #FD1D1D,
        #F56040,
        #FCAF45,
        #FFDC80);
}